<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"> </header>




	<div class="container py-4">


		<div class="card bg-dark  text-white">

			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<!--se muestran los campos faltantes en un solo contenedor  -->
				<div th:object="${puerto}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/formPuerto}" th:object="${puerto}" method="post" enctype="multipart/form-data" >

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre Puerto</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>

					</div>

					<input type="submit" value="Crear Puerto" class="btn btn-primary">

					<input type="hidden" th:field="*{id}" />

				</form>

			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>


</body>


</html>